#OS мусор
#(Mac OS)
.DS_store 
#Windows
Thumbs.db 
#-----------------------------------
#IDE мусор
#. — дает понять, что расширение; / — дает понять,что папка
.vscode/
#папка с персонализацией IDE
.idea/
#-----------------------------------
#Секреты
.env
#Уберем тяжёлые фильмы (*. — уберет все файлы, * - любое имя, . - любое расширение)
.idea/
front-end/assets/player/*
front-end/data/*
front-end/data/